trigger: none

pool:
  name: PoolAirtel

steps:
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      # Write your PowerShell commands here.
      
      Write-Host "Hello World"
- task: NodeTool@0
  inputs:
    versionSource: 'spec'
    versionSpec: '16.x'
    checkLatest: true
- task: NodeTaskRunnerInstaller@0
  inputs:
    nodeVersion: '16'
- task: PowerShell@2
  displayName: NPM Install
  inputs:
    targetType: 'inline'
    script: 'npm install'